/*
	CSS file for content specific to about.html
*/

/*
	Videos block
*/

div.videos-block {
	width: 100%;
	background: #355E3B;
	color: white;
}

div.videos-block h3 {
	font-family: 'Roboto';
	font-size: 30pt;

	padding: 30px;
	padding-bottom: 5px;
}

div.videos-block p {
	font-family: 'Open Sans';
	font-size: 20pt;

	padding: 30px;
	padding-top: 0;
	padding-bottom: 5px;
}

div.videos-block iframe {
	padding: 30px;
	width: calc(33% - 60px);
}

@media screen and (max-width: 1200px) {
	div.videos-block iframe {
		width: calc(100% - 60px);
		height: 300px;
	}
}

/*
	Maps block
*/

div.maps-block {
	width: 100%;
	background: lightgray;
	overflow: hidden;
}

div.maps-block h3 {
	font-family: 'Roboto';
	font-size: 30pt;

	padding: 30px;
	padding-bottom: 5px;
}

div.maps-block p {
	font-family: 'Open Sans';
	font-size: 20pt;

	padding: 30px;
	padding-top: 0;
	padding-bottom: 5px;
}

div.maps-block div.mapouter {
	padding: 30px;
	padding-top: 10px;
	overflow: hidden;
}

div.maps-block div.gmap_canvas {
	width: 100%;
	left: 0;
	width: 100% !important;
	z-index: 4;
}

div.maps-block iframe {
	width: 100%;
}

@media screen and (max-width: 600px) {
	div.maps-block h3 {
		font-size: 20pt;
	
		padding: 25px;
		padding-bottom: 5px;
	}

	div.maps-block p {
		font-size: 15pt;
		padding: 25px;
		padding-top: 0;
	}
}