/*
	The purpose of this file is to standardise and clean up. Reducing file sizes and potentially improving performance
*/

/*
	General standard blocks
*/

.block-h3 {
	width: 100%;
}

.block-h3 .content-wrapper {
	padding: 30px;
}

.block-h3 .content-wrapper h3 {
	font-family: 'Roboto';
	font-size: 30pt;
}

.block-h3 .content-wrapper p {
	font-family: 'Open Sans';
	font-size: 20pt;
	font-weight: lighter;
}

/*
	Colours of block
*/

.block-h3.green-block {
	background: #355E3B;
	color: white;
}

.block-h3.gray-block {
	background: lightgray;
}

/*
	Inputs and stuff
*/

input[type="text"] {
	font-size: 15pt;
	font-family: 'Open Sans';

	padding: 5px;
	margin: 5px;

	border: black 2px solid;
	border-radius: 0;
	outline: none;
}