/*
	The purpose of this file is to standardise and clean up. Reducing file sizes and potentially improving performance
*/

/*
	Gray blocks such as the pay us a visit block and contact us block
*/

.gray-block-h3 {
	width: 100%;
	background: lightgray;
}

.gray-block-h3 h3 {
	font-family: 'Roboto';
	font-size: 30pt;
	padding: 30px;
	padding-bottom: 5px;
}

.gray-block-h3 p {
	font-family: 'Open Sans';
	font-size: 20pt;

	padding: 30px;
	padding-top: 0;
	padding-bottom: 5px;
}

/*
	Green Blocks such as the about us block
*/

