@import url('fonts.css');

/*
	The purpose of this file is to standardise and clean up. Reducing file sizes and potentially improving performance
*/

/*
	General blocks
*/

/* Massive block */

.jumbo-block {
	width: 100%;
}

.jumbo-block .content-wrapper {
	padding: 100px;
	padding-top: 70px;
	padding-bottom: 70px;
}

/* Large block */

.large-block {
	width: 100%;
}

.large-block .content-wrapper {
	padding: 70px;
	padding-top: 50px;
	padding-bottom: 50px;
}

/* Medium block */

.medium-block {
	width: 100%;
}

.medium-block .content-wrapper {
	padding: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
}

/* Small block */

.small-block {
	width: 100%;
}

.small-block .content-wrapper {
	padding: 30px;
}

@media screen and (max-width: 600px) {
	.jumbo-block .content-wrapper {
		padding: 60px;
	}

	.large-block .content-wrapper {
		padding: 40px;
	}

	.medium-block .content-wrapper {
		padding: 30px;
	}

	.small-block .content-wrapper {
		padding: 20px;
	}
}

/* Typography (Yeah I can use clever words) */

h1 {
	font-family: 'Poppins';
	font-size: 40pt;
}

h2 {
	font-family: 'Roboto';
	font-size: 30pt;
}

h3 {
	font-family: 'Roboto';
	font-size: 25pt;
}

p {
	font-family: 'Open Sans';
	font-size: 18pt;
}

p a {
	color: #2929f5;
	text-decoration: none;
}

p a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 30pt;
	}

	h2 {
		font-size: 25pt;
	}

	h3 {
		font-size: 20pt;
	}

	p {
		font-size: 15pt;
	}
}

/*
	Colours of block
*/

.green-block {
	background: #355E3B;
	color: white;
}

.gray-block {
	background: lightgray;
}

/*
	Slideshow block
*/

.slideshow-block {
	width: 100%;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position-y: 30% !important;
}

.slideshow-block .slideshow-images {
	display: none; /* Slideshow images purely provide a reference for which images the JS should transition between. */
}

.slideshow-block.slideshow-dark-overlay {
	background-blend-mode: overlay;
	color: white;
}

/*
	Inputs and labels and form stuff
*/

input[type="text"] {
	display: inline-block;

	font-size: 15pt;
	font-family: 'Open Sans';

	width: 500px;
	padding: 5px;
	margin: 5px;

	border: black 2px solid;
	border-radius: 0;
	outline: none;
}

textarea {
	display: inline-block;

	font-size: 15pt;
	font-family: 'Open Sans';

	width: 500px;
	padding: 5px;
	margin: 5px;

	border: black 2px solid;
	border-radius: 0;
	outline: none;
}

form textarea:focus, form input[type="text"]:focus {
	outline: none;
	border-color: #355E3B;
}

label {
	display: block;

	font-size: 15pt;
	font-family: 'Open Sans';

	width: 170px;
	padding: 7px;
	margin: 5px;
	float: left;
}

form button {
	background: #355E3B;
	color: white;
	padding: 15px;
	font-size: 17pt;
	font-family: 'Open Sans';
	display: block;
}

.green-block form button {
	background: lightgray;
	color: black;
}

/* Responsiveness */

@media screen and (max-width: 800px) {
	form {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	form br {
		display: none;
	}

	label {
		width: 90%;
		text-align: center;
	}

	input[type="text"] {
		width: 90%;
	}

	textarea {
		width: 90%;
	}
}

/*
	Videos container for embedded content like YouTube
*/

.videos-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.videos-wrapper iframe {
	width: 30vw;
	height: calc(30vw / 1.77);
	margin: auto;
	padding-top: 10px;
}

@media screen and (max-width: 1000px) {
	.videos-wrapper {
		flex-direction: column;
	}

	.videos-wrapper iframe {
		width: 90vw;
		height: calc(90vw / 1.77);
		margin: auto;
		padding-top: 30px;
	}
}