@import url('fonts.css');

/*
	The purpose of this file is to standardise and clean up. Reducing file sizes and potentially improving performance
*/

/*
	General blocks
*/

/*
	Blocks with H1 headers. Something like on the index.html page
*/

.block-h1 {
	width: 100%;
}

.block-h1 .content-wrapper {
	padding: 100px;
	padding-top: 140px;
	padding-bottom: 140px;
}

.block-h1 .content-wrapper h1 {
	font-family: 'Poppins';
	font-size: 43pt;
}

.block-h1 .content-wrapper p {
	font-family: 'Open Sans';
	font-weight: lighter;
	font-size: 25pt;
}

/*
	Blocks with H3 headers. I'll call them sub-blocks
*/

.block-h3 {
	width: 100%;
}

.block-h3 .content-wrapper {
	padding: 30px;
}

.block-h3 .content-wrapper h3 {
	font-family: 'Roboto';
	font-size: 30pt;
}

.block-h3 .content-wrapper p {
	font-family: 'Open Sans';
	font-size: 20pt;
	font-weight: lighter;
}

/*
	Block mobile responsiveness
*/

@media screen and (max-width: 600px) {
	/* H1 Blocks */

	.block-h1 .content-wrapper {
		padding: 40px;
	}

	.block-h1 .content-wrapper h1 {
		font-size: 35pt;
	}

	.block-h1 .content-wrapper p {
		font-size: 25pt;
	}

	/* H3 Blocks */

	.block-h3 .content-wrapper {
		padding: 20px;
	}

	.block-h3 .content-wrapper h3 {
		font-size: 25pt;
	}

	.block-h3 .content-wrapper p {
		font-family: 17pt;
	}
}

/*
	Colours of block
*/

.green-block {
	background: #355E3B;
	color: white;
}

.gray-block {
	background: lightgray;
}

/*
	Slideshow block
*/

.slideshow-block {
	width: 100%;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position-y: 30% !important;
}

.slideshow-block .slideshow-images {
	display: none; /* Slideshow images purely provide a reference for which images the JS should transition between. */
}

.slideshow-block.slideshow-dark-overlay {
	background-blend-mode: overlay;
	color: white;
}

/*
	Inputs and labels and form stuff
*/

input[type="text"] {
	display: inline-block;

	font-size: 15pt;
	font-family: 'Open Sans';

	width: 500px;
	padding: 5px;
	margin: 5px;

	border: black 2px solid;
	border-radius: 0;
	outline: none;
}

textarea {
	display: inline-block;

	font-size: 15pt;
	font-family: 'Open Sans';

	width: 500px;
	padding: 5px;
	margin: 5px;

	border: black 2px solid;
	border-radius: 0;
	outline: none;
}

form textarea:focus, form input[type="text"]:focus {
	outline: none;
	border-color: #355E3B;
}

label {
	display: block;

	font-size: 15pt;
	font-family: 'Open Sans';

	width: 170px;
	padding: 7px;
	margin: 5px;
	float: left;
}

form button {
	background: #355E3B;
	color: white;
	padding: 15px;
	font-size: 17pt;
	font-family: 'Open Sans';
	display: block;
}

/* Responsiveness */

@media screen and (max-width: 800px) {
	form {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	form br {
		display: none;
	}

	label {
		width: 90%;
		text-align: center;
	}

	input[type="text"] {
		width: 90%;
	}

	textarea {
		width: 90%;
	}
}