/*
	Stylesheet for index.html specific elements such as the welcome block.
*/

button#contactSubmitButton {
	background: #355E3B;
	color: white;
	padding: 10px;
	font-family: 'Open Sans';
	display: block;
	
}

div.mobile-form {
	display: none;
}

@media screen and (max-width: 800px) {
	div.inputs, div.labels {
		display: none;
	}

	div.mobile-form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	div.mobile-form input[type="text"] {
		display: inline-block;
		width: 90%;
	}

	div.mobile-form textarea {
		display: inline-block;
		width: 90%;
	}
}