/*
	Stylesheet for index.html specific elements such as the welcome block.
*/

div.welcome-block {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

div.welcome-block h1 {
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 40pt;

	padding: 100px;
	padding-top: 120px;
	padding-bottom: 5px;
	text-align: right;
}

div.welcome-block p {
	font-family: 'Open Sans';
	font-weight: bolder;
	font-size: 25pt;

	padding: 100px;
	padding-bottom: 120px;
	padding-top: 0;
	text-align: right;
}

@media screen and (max-width: 600px) {
	div.welcome-block h1 {
		font-size: 30pt;
		padding: 60px;
		padding-bottom: 5px;
	}

	div.welcome-block p {
		font-size: 20pt;
		padding: 60px;
		padding-top: 0;
	}
}

/*
	About block
*/

div.about-block {
	background: #355E3B;
	width: 100%;
	color: white;
}

div.about-block h3 {
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 30pt;

	padding: 30px;
	padding-bottom: 5px;
}

div.about-block p {
	font-family: 'Open Sans';
	font-size: 18pt;
	font-weight: bolder;
	
	padding: 30px;
	padding-top: 0;
}