/*
	Font faces
	(Credit to Google)
*/

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Var.ttf');
}

/*
	The 'font-weight' property has a lack of support in IE 8 and below.
	Internet Explorer is now a retired browser. It is insecure and should not be used in modern organisations due to the lack of security updates.
*/

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.ttf');

	font-weight: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Light.ttf');

	font-weight: lighter;
}

/*
	NOTE: ACCENT GREEN HEX CODE IS #355E3B
*/

/*
	Body style
	Simply includes fallback font and other tweaks.
*/

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*
	Fixed items wrapper
*/

div.fixed-wrapper {
	position: fixed;
	width: 100%;
}

/*
	Navigation bar
*/

div.nav-bar {
	background-color: #355E3B;
	width: 100%;
	
	display: flex;
	flex-direction: row;
	color: white;
}

div.nav-bar > a {
	font-family: 'Poppins';
	font-size: 20pt;
	padding: 10px;
	padding-left: 15px;
	text-decoration: none;
	color: white;
}

/*
	Get hyperlinks to bear right
*/

div.nav-bar div.a-wrapper {
	display: flex;
	flex-direction: row;

	margin-left: auto;
	justify-content: center;
	align-items: center;
}

div.nav-bar div.a-wrapper a {
	font-size: 18pt;
	margin-top: auto;
	margin-bottom: auto;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	color: white;
	text-decoration: none;
}

div.nav-bar div.a-wrapper a:hover {
	background: #244128;
}

div.nav-bar div.a-wrapper a:last-child {
	margin-right: 10px;
}

/*
	Navigation bar hamburger menu icon
*/

div.nav-bar button {
	background: transparent;
	margin-left: auto;
	padding-right: 5px;
}

div.nav-bar button img {
	height: 0px; /* HEIGHT VALUE DYNAMICALLY CHANGES IN ../js/script.js */
}

/*
	Actual hamburger menu
*/

div.mobile-a-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
}

div.mobile-a-wrapper a {
	display: inline-block;
	width: 100%;
	color: white;
	text-decoration: none;
	font-size: 20pt;
	padding: 10px;
	background: #355E3B;

}

div.mobile-a-wrapper a:hover {
	display: inline-block;
	width: 100%;
	color: white;
	text-decoration: none;
	font-size: 20pt;
	padding: 10px;
	background: #244128;

}
